* {
    font-size: 12px;
    padding: 0 5px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: rgba(40, 42, 54, 0);
    border-radius: 0px;
    color: #F8F8F2;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#memory {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#cpu {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#battery {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#clock {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#pulseaudio {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#network {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#bluetooth {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#disk {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

/* General Waybar style */
#waybar {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    color: #000000;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#workspaces button.focused {
    background-color: #5e3803;
}

#workspaces button {
    color: #5e3803;
}
