window {
    font-size: 28px;
    font-family: "jetbrains mono nerd";
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    border: 2px solid rgba(b94fffee);
    border-radius: 15px;
}

#entry:selected {
    background: #ffba59;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#text:selected {
    color: #fffff;
}

#input {
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0,0,0,0.9);
    color: #fc7a56;
    padding: 0.5em;
}

#outer-box {
    border: 2px solid #fc56af;
    border-radius: 15px;
}

#entry {
    padding: 0.25em;
}
